In [1]:
import pandas as pd
from google.cloud import bigquery
import pydata_google_auth

In [2]:
credentials = pydata_google_auth.get_user_credentials(
    ['https://www.googleapis.com/auth/bigquery'],
)

In [3]:
client = bigquery.Client(project= "project-football-388908", credentials=credentials)

In [4]:
# Query Bigquery
project_id = "project-football-388908"
dataset = "Transfer_data"
table = ""
query = f"SELECT * FROM `{project_id}.{dataset}.{table}`"

In [5]:
tables = client.list_tables(f'{project_id}.{dataset}')
table_names = []
for table in tables:
    table_names.append(f'{table.table_id}')
table_names

['PL_Net_Spend_per_team',
 'PL_Net_Spend_per_team_2',
 'PL_Net_Spend_per_team_3',
 'PL_Net_Spend_per_team_4',
 'PL_transers_in_Big6_2014_2022',
 'PL_transfer_data_final',
 'PL_transfer_data_final_extra',
 'PL_transfer_data_net_big5',
 'PL_transfer_data_net_mid',
 'PL_transfer_data_specific_positions',
 'PL_transfers',
 'PL_transfers_cleaned',
 'PL_transfers_evleiwestsouth2']

In [7]:
import db_dtypes

In [8]:
from db_dtypes import core

In [9]:
PL_transfer_data_final_extra = client.query(query).to_dataframe()

In [10]:
PL_transfer_data_final_extra

,club_name,player_name,club_involved_name,fee,transfer_movement,league_name,season,fee_cleaned_1,year_1,age_1,transfer_period_1,position_1
0,Chelsea FC,Graeme Le Saux,Blackburn,€1.05m,out,Premier League,1992/1993,1.050,1992,24,WINTER,LEFT-BACK
1,Blackburn Rovers,Graeme Le Saux,Chelsea,€1.05m,in,Premier League,1992/1993,1.050,1992,24,WINTER,LEFT-BACK
2,Chelsea FC,Tom Boyd,Celtic,€1.13m,out,Premier League,1992/1993,1.130,1992,27,WINTER,LEFT-BACK
3,Leeds United,Kevin Sharp,AJ Auxerre U19,€90Th.,in,Premier League,1992/1993,0.090,1992,18,SUMMER,LEFT-BACK
4,Coventry City,Paul Edwards,Wolves,€112Th.,out,Premier League,1992/1993,0.112,1992,28,SUMMER,LEFT-BACK
...,...,...,...,...,...,...,...,...,...,...,...,...
8751,Nottingham Forest,Cheikhou Kouyaté,Crystal Palace,free transfer,in,Premier League,2022/2023,0.000,2022,32,SUMMER,DEFENSIVE MIDFIELD
8752,Manchester United,Nemanja Matić,AS Roma,free transfer,out,Premier League,2022/2023,0.000,2022,33,SUMMER,DEFENSIVE MIDFIELD
8753,Aston Villa,Boubacar Kamara,Marseille,free transfer,in,Premier League,2022/2023,0.000,2022,22,SUMMER,DEFENSIVE MIDFIELD
8754,Crystal Palace,Cheikhou Kouyaté,Nottm Forest,free transfer,out,Premier League,2022/2023,0.000,2022,32,SUMMER,DEFENSIVE MIDFIELD
8755,Chelsea FC,Denis Zakaria,Juventus,Loan fee:€3.00m,in,Premier League,2022/2023,3.000,2022,25,SUMMER,DEFENSIVE MIDFIELD

In [11]:
#Making a fee in column with the corresponding fee's if transfer movement is IN otherwise 0
PL_transfer_data_final["fee_in"] = PL_transfer_data_final["fee_cleaned_1"]
PL_transfer_data_final.loc[PL_transfer_data_final["transfer_movement"]=="out", "fee_in"] = 0
PL_transfer_data_final

,club_name,player_name,club_involved_name,fee,transfer_movement,league_name,season,fee_cleaned_1,year_1,age_1,transfer_period_1,position_1,fee_in
0,Everton FC,Adam Eaton,Preston,€6Th.,out,Premier League,1998/1999,0.006,1998,19,SUMMER,DEFENCE,0.000
1,Southampton FC,Frankie Bennett,Halesowen,€9Th.,in,Premier League,1992/1993,0.009,1992,24,WINTER,CENTRE-FORWARD,0.009
2,Norwich City,Mark Robins,Man Utd,€1.00m,in,Premier League,1992/1993,1.000,1992,22,SUMMER,CENTRE-FORWARD,1.000
3,Crystal Palace,Chris Armstrong,Millwall,€1.00m,in,Premier League,1992/1993,1.000,1992,21,SUMMER,CENTRE-FORWARD,1.000
4,Manchester United,Mark Robins,Norwich,€1.00m,out,Premier League,1992/1993,1.000,1992,22,SUMMER,CENTRE-FORWARD,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8962,Everton FC,Henry Onyekuru,Galatasaray,Loan fee:€800Th.,out,Premier League,2018/2019,0.800,2018,21,SUMMER,LEFT WINGER,0.000
8963,Norwich City,Joseph Yobo,Fenerbahce,Loan fee:€850Th.,in,Premier League,2013/2014,0.850,2013,33,WINTER,CENTRE-BACK,0.850
8964,West Ham United,Edimilson Fernandes,Fiorentina,Loan fee:€865Th.,out,Premier League,2018/2019,0.865,2018,22,SUMMER,CENTRAL MIDFIELD,0.000
8965,Birmingham City,Christian Benítez,Santos Laguna,Loan fee:€900Th.,in,Premier League,2009/2010,0.900,2009,23,SUMMER,CENTRE-FORWARD,0.900
8966,Newcastle United,Henri Saivet,Bursaspor,Loan fee:€900Th.,out,Premier League,2018/2019,0.900,2018,27,SUMMER,ATTACKING MIDFIELD,0.000

In [12]:
#Making a fee in column with the corresponding fee's if transfer movement is OUT otherwise 0
PL_transfer_data_final["fee_out"] = PL_transfer_data_final["fee_cleaned_1"]
PL_transfer_data_final.loc[PL_transfer_data_final["transfer_movement"]=="in", "fee_out"] = 0

In [13]:
#making a sum per club per season of the fee's
PL_transfer_data_net = PL_transfer_data_final.groupby(by=["club_name","year_1"], as_index=False).agg({"fee_in":"sum", "fee_out": "sum"})

In [14]:
#finally calculating net spent
PL_transfer_data_net['Net_spend'] = PL_transfer_data_net['fee_in']-PL_transfer_data_net['fee_out']

In [15]:
PL_transfer_data_net

                   club_name  year_1  fee_in  fee_out  Net_spend
0            AFC Bournemouth    2015   55.11    0.650     54.460
1            AFC Bournemouth    2016   40.69   23.690     17.000
2            AFC Bournemouth    2017   34.30    0.000     34.300
3            AFC Bournemouth    2018   89.10   20.200     68.900
4            AFC Bournemouth    2019   54.91   34.625     20.285
..                       ...     ...     ...      ...        ...
621  Wolverhampton Wanderers    2018  112.75   23.300     89.450
622  Wolverhampton Wanderers    2019  116.70   24.100     92.600
623  Wolverhampton Wanderers    2020   87.80   79.200      8.600
624  Wolverhampton Wanderers    2021   37.60   31.800      5.800
625  Wolverhampton Wanderers    2022  136.60   57.100     79.500

[626 rows x 5 columns]

In [16]:
PL_transfer_data_net_2022 = PL_transfer_data_net[(PL_transfer_data_net['year_1'] >= 2022)]

In [17]:
PL_transfer_data_net_2022

                   club_name  year_1  fee_in  fee_out  Net_spend
5            AFC Bournemouth    2022   26.90     0.00      26.90
36                Arsenal FC    2022  132.06    23.80     108.26
64               Aston Villa    2022   70.00    42.00      28.00
108             Brentford FC    2022   50.50     3.60      46.90
114   Brighton & Hove Albion    2022   47.80   113.90     -66.10
163               Chelsea FC    2022  281.99    58.80     223.19
186           Crystal Palace    2022   34.60     5.46      29.14
224               Everton FC    2022   85.20    58.00      27.20
240                Fulham FC    2022   61.40    20.90      40.50
267             Leeds United    2022  110.14   108.20       1.94
284           Leicester City    2022   17.00    81.40     -64.40
315             Liverpool FC    2022   90.30    80.70       9.60
341          Manchester City    2022  139.50   159.90     -20.40
372        Manchester United    2022  240.33    11.50     228.83
415         Newcastle United    2022  136.00     2.31     133.69
431        Nottingham Forest    2022  161.95     7.00     154.95
487           Southampton FC    2022   73.40     0.00      73.40
552        Tottenham Hotspur    2022  169.90    38.75     131.15
600          West Ham United    2022  182.00    17.80     164.20
625  Wolverhampton Wanderers    2022  136.60    57.10      79.50